<div class="container">
  <div class="user-details">
    <h3> Architecture, Infrastructure, and DevOps consulting </h3>
    <p> A Consulting firm that doesn't try to impress with confusing lingo, but gets straight to the point. We design and build infrastructures that scale; from 10 users to millions. Thats our business and thats all we do.  </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Fact Gathering</h4>
      <i class="devicon-trello-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-atom-original colored"></i>
      <p>No matter if you are building the next multi-million user social media network or just trying to build an online presence for your brand, you will invetiably run into road blocks when picking the right technology for your application. Percosys leads every engagment with a through client interview cycle that determines clear objectives and provides a rigourus breakdown of your business needs. </p>
    </div>
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-amazonwebservices-original colored"></i>
      <p>Most consulting firms drive to force clients into a "cookie cutter" or "turn key" solutions. Although this increases a firms revenue it does not take into the account the uniqueness of every clients needs. Drawing from years of design and implementation expierence Percosys knows that not all problems are created equal and not all clients can be served by the same solution. Perocsys takes the time to hand craft every solution on a per client basis.</p>
    </div>
    <div class="four columns">
      <h4>Implementation</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-heroku-original colored"></i>
      <p>No matter what anyone tells you nothing in the world of technology is more important then time to market. What most people forget to mention is reliability. Fundamentally we believe that for us to be successful you must be successful, this means your uptime no matter on premise or in the cloud is our biggest point of pride. We want to celebrate your launch and reliabilty as a valued partner not just a "client". </p>
    </div>
  </div>
</div>
